
<div class="row" id="frase">

    <div class="col-md-3" id="oracion">
        <h2> @ViewBag.FraseRandom </h2>
        <p class="text-right"> @ViewBag.Autor</p>
    </div>

    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
</div>

